stages:
  - install_node
  - unit_tests
  - flask_and_cypress

install_node_dependencies:
  stage: install_node
  image: node:latest
  script:
    - npm install
  artifacts:
    paths:
      - node_modules/
    expire_in: 1 hour

run_unit_tests:
  stage: unit_tests
  image: node:latest
  script:
    - npm test
  dependencies:
    - install_node_dependencies

flask_and_cypress:
  stage: flask_and_cypress
  image: cypress/base:latest  # This image needs to have Python installed or installable
  services:
    - name: selenium/standalone-chrome:latest
      alias: selenium
  script:
    - apt-get update && apt-get install -y python3 python3-venv python3-pip curl  # Install Python and pip
    - curl -sSL https://install.python-poetry.org | python3 -
    - export PATH="$PATH:$HOME/.local/bin"
    - poetry --version
    - poetry install
    - poetry run flask run --host=0.0.0.0 --port=5000 &
    - sleep 5  # Give Flask some time to start
    - curl --output /dev/null --silent --head --fail http://127.0.0.1:5000/cf  # Verify Flask is running
    - export CYPRESS_BASE_URL=http://127.0.0.1:5000
    - npm ci --prefix .  # Install Cypress dependencies if not found
    - npx cypress run
  dependencies:
    - install_node_dependencies
  cache:
    key: "${CI_COMMIT_REF_SLUG}"
    paths:
      - node_modules/
      - .cache/Cypress
