<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}Unconventional tools for learning and explore languages{% endblock %}">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>

     <!-- Open Graph Tags -->
    <meta property="og:title" content="{% block og_title %}Explore Language Roots and Tools{% endblock %}">
    <meta property="og:description" content="{% block og_description %}Discover unconventional tools for learning and exploring languages. Features include dictionaries of proto-language roots, cognates, historical insights through Bible translations, and annotation tools.{% endblock %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.url }}">

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@langtools_io">
    <meta name="twitter:title" content="{% block twitter_title %}Explore Language Roots and Tools{% endblock %}">
    <meta name="twitter:description" content="{% block twitter_description %}Discover unconventional tools for learning and exploring languages. Features include dictionaries, historical insights, and interactive tools.{% endblock %}">

    <!-- local -->
    <!-- <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/popper-1.16.0.min.js') }}"></script> -->

    {% block deps %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
    {% block footer %}
    <div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-sm-1">
            <!-- left column -->
        </div>
        <div class="col-md-10">
            <footer class="bg-light text-dark">   
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 text-left">
                        © 2023-, <a href='https://langtools.io'>langtools.io</a> v{{ version }}
                        </div>
                        <div class="col-sm-3 text-left">
                            <a href="https://twitter.com/langtools_io"><img src="{{ url_for('static', filename='img/twitter-blue.svg') }}" alt="@langtools_io" width="15px" height="15px"> @langtools_io</a>
                            <br>
                            <a href="https://github.com/maxlit/fe-pie-app/issues">
                                <img width="15px" height="15px" src="{{ url_for('static', filename='img/github-mark.svg') }}" alt="repo/issues"> issues/bugs
                              </a>
                              <br>
                            <a href="https://langtools.substack.com">
                                <img width="15px" height="15px" src="{{ url_for('static', filename='img/substack.png') }}" alt="articles"> articles
                            </a>
                        </div>
                        <div class="col-sm-3 text-right">
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    </div>   
                
            </footer> 
        </div>
    </div>
    <div class="col-sm-1">
        <!-- right column -->
    </div> 
    </div>
    {% endblock %}
</body>
</html>